<div class="inner">
  <div class="image">
    <i class="fa fa-bomb"></i>
  </div>
  <p>Purge all content on this site.</p>
  <button class="purge btn alert">
    <span class="purge-inner">{{t 'app.purgeframework'}}</span>
  </button>
</div>
